<script>

  document.getElementById("mostrarParrafoBtn").addEventListener("click", function() {
  mostrarParrafo();
  });
</script>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>
<div class="container"> 

    
  
  <div class="paragraph-container" id="paragraphContainer">
    <br><br>
    Xixili ez da bakarrik lurretik ikusten. Itsasontzitik arrantzaleek ere ikus dezakete. Gerritik gora emakume bat da, gerritik behera arraina eta bi ahate oinetan amaitzen da. Euskal mitologiaren arabera, oin horiek lamien ezaugarria da. 
    Xixili Lamiaren auzoan kokatuta dago, eta leku hau (Bermeo eta Mundaka artekoa) ezaguna zen sorginak eta lamiak bizi ziren lekua izateagatik. 

    <br><br>
    Sirenei edo lamiei buruz hitz egiten dugunean, ez dira Disneyko filmtan agertzen diren bezalakoak. Mitologiako istorioen arabera lamiek izaera indartsuago bat dute. Bermeo Urdaibaiko itsasadarreko sarreratik oso hurbil dagoenez, kondaira asko daude honen inguruan. Gehienak ez daukate amaiera zoriontsurik: lamiek beren abestiekin arrantzaleak erakartzen zituzten itsasoan itotzeko. 
    <br><br>   
    
  </div>
  <div id="hurrengoaBtn">
    <button (click)="hurrengoaButtonClicked()">
      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/>
    </svg></button>
  </div>

</div>

</ion-content>