.container{
    max-height: 1080px;
  }

.paragraph-container {
    margin-left: 40vh;
    margin-top: 2%;
    max-width: 80%;
    float: right;
  }

#galdera{
    margin-left: 40vh;
    margin-top: 2%;
    max-width: 80%;
    font-weight: bold;
}

#ultimosbotones {
  display: flex;
  flex-direction: row; /* Asegura que los elementos hijos se alineen en una fila */
  align-items: center; /* Alinea los elementos hijos verticalmente en el centro */ 
}
