.container{
    max-height: 1080px;
  }

.paragraph-container {
    margin-left: 40vh;
    margin-top: 2%;
    max-width: 80%;
    float: right;
  }

#galdera{
    margin-left: 40vh;
    margin-top: 2%;
    max-width: 80%;
    font-weight: bold;
}

