<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>
 -->
 <script>
  var paragraphVisible = false;

  document.getElementById("mostrarParrafoBtn").addEventListener("click", function() {
    mostrarParrafo();
  });

  function mostrarParrafo() {
    var paragraphContainer = document.getElementById("paragraphContainer");
    paragraphVisible = !paragraphVisible; // Invierte el valor actual
    paragraphContainer.style.display = paragraphVisible ? "block" : "none";
  }

  function playAudio(audioId) {
    var audio = document.getElementById(audioId);
    if (audio.paused) {
      audio.play();
    } else {
      audio.pause();
      audio.currentTime = 0;
    }
  }
</script>

 <ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>
<div class="container"> 
  <div id="galdera">
    Zer dakizue San Juan Arkuaren inguruan? Ezaguna egiten zaizue? 
    <button style="margin-left: 3vh;" id="mostrarParrafoBtn" (click)="mostrarParrafo()" *ngIf="showButton">
      <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
        <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
        <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
      </svg>
    </button>
  </div>
    
  
  <div class="paragraph-container" id="paragraphContainer" *ngIf="paragraphVisible">

    San Juan Arkuak Gaztelugatxeko ermitara irteera ematen dio, Bermeo kanpoladetik isolatzeko helburua zuen.
    <br><br>
    <button (click)="playAudio('SanJuanArkua')" style="margin-right: 2vh;"> <!---->
      <audio id="SanJuanArkua" src="../../assets/audioak/San-Juan-Arkua-testua.mp3"></audio>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-headphones" viewBox="0 0 16 16">
      <path d="M8 3a5 5 0 0 0-5 5v1h1a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V8a6 6 0 1 1 12 0v5a1 1 0 0 1-1 1h-1a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h1V8a5 5 0 0 0-5-5"/>
    </svg>
    Azalpena
    </button>
    <br>
    San Juan atariari horrela deitzen zaio, Gaztelugatxeko San Juan ermitara irteera ematen diolako. Dorre itxurako eraikin batean dago kokaturik eta harresiak zuen arku nagusia zen.
    Atea XIV. mendean eraiki zen, arku baten bidez herriaren barnealdealdera irekiten da, kanpoaldera, berriz, arku zorrotz baten bidez. Arku beheratuaren gainean San Juan irudia duen horma-hobi bat dago.
    Kondairaren arabera, San Juan Bautista hiru urratsetan iritsi zen Bermeoko portutik Gaztelugatxeko ermitara. Horietako bakoitzak arrastoa utzi zuen, lehena San Juan atariko arkuaren azpian ikus daiteke.
  </div>

</div>

</ion-content>
