.container{
    max-height: 1080px;
  }

.paragraph-container {
    margin-left: 40vh;
    margin-top: 2%;
    max-width: 80%;
    float: right;
  }

#hurrengoaBtn {
    display: flex;
    justify-content: flex-end; /* Alinea el botón al extremo derecho del contenedor */
    clear: both;
    max-width: 80%;
    margin-left: 20vh;
}

.carousel {
    width: 90%;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 20px;
  }
  
  .carousel img {
    width:100%;
    height: auto;
    display: inline-block;
  }