ion-tabs {
  display: flex;
  height: 100vh;
}

ion-tab-button:active ion-label,
ion-tab-button:focus ion-label  {
  font-weight: bold; /* Hace que la letra se ponga en negrita cuando el tab está activo */
  color: black;
}

ion-tab-bar {
  flex-direction: column;
  width: 15%; /* Ancho de la barra de pestañas */
  height: 100%; /* Ajusta según sea necesario para la altura de la barra de pestañas */
  background-color: #90C5F6;
}
/* Estilos para los botones */

/* Estilos específicos para los botones deshabilitados */
ion-tab-button[disabled] {
  opacity: 1; /* Opacidad completa */
  pointer-events: auto; /* Habilitar eventos del mouse */
}

ion-tab-button {
  width: 100%;
  text-align: center;
  background-color: #90C5F6;
  height: 65px; /* Ajusta la altura de los botones */
  margin-bottom: 1px; /* Ajusta según sea necesario para el espacio entre botones */
}
ion-tab-button ion-icon {
  font-size: 1vh; /* Ajusta según sea necesario */
}
ion-router-outlet {
  flex: 1;
  overflow: hidden;
}

ion-header, ion-toolbar {
  display: none;
}

ion-content {
  margin-top: 0;
}

ion-label {
  white-space: normal;
}


.image-container {
  position: absolute;
  width: 100%;
}

img {
  width: 100%;
  height: auto;
  margin-top: 82vh;/* Ajusta según sea necesario para la posición vertical del div con respecto a la parte inferior */

}
