body {
    font-family: 'Segoe UI', Calibri, Arial;
    margin:0;
    width: 110vh;
    height: 69vh;
}
h2{
    font-weight:normal;
    text-align:center;
}
h3{
    font-weight:normal;
    margin:3px 0px;
    text-align:center;
}

h4{
    font-weight:normal;
    margin:3px 0px;
    text-align:center;
}

.puzzle {
    width: 110vh;
    height: 69vh;
    /* border: 1px solid black; */
}

iframe {
    overflow-y: hidden;
    
  }
  .scroll-y {
    overflow-y:hidden !important; 
  }
