<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>
 -->
 <ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="paragraph-container">
    Bermeoko San Frantziskoko komentuak Erdi Aroan (XIV. mendean) sortu zen. Horregatik, Bizkaiko komentu zaharrena da eta haren hondarrak elizan biltzen dira. Gaur egun, San Frantziskoko klaustroa lau angeluko espazio batez osatuta dago. Gainera, estilo gotikoa du, izan ere, Bizkaian kontserbatzen den gotiko bakarra da (Bilboko Santiagokoarekin batera).
  </div>

</ion-content>
