<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>
 --><script>
  document.getElementById("btnLehenengoDesberdintasuna").onclick = function() {
    playAudio('audio1');
  };

  function playAudio(audioId) {
    var audio = document.getElementById(audioId);
    if (audio.paused) {
      audio.play();
    } else {
      audio.pause();
      audio.currentTime = 0;
    }
  }
</script>

 <ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <link rel="preload" href="../../assets/img/1912.png" as="image">
      <link rel="preload" href="../../assets/img/Barco.png" as="image">
      <link rel="preload" href="../../assets/img/Olas.png" as="image">
      <link rel="preload" href="../../assets/img/pulpo2.gif" as="image">
      <link rel="preload" href="../../assets/img/pulpo.gif" as="image">
      <link rel="preload" href="../../assets/img/pulpo3.gif" as="image">
      <link rel="preload" href="../../assets/img/pulpo4.gif" as="image">
      <link rel="preload" href="../../assets/img/personas.png" as="image">
      <link rel="preload" href="../../assets/img/kahoot.png" as="image">
      <link rel="preload" href="../../assets/img/argazki1.png" as="image">
      <link rel="preload" href="../../assets/img/argazki2.png" as="image">
      <link rel="preload" href="../../assets/img/abrazo.png" as="image">
      <link rel="preload" href="../../assets/img/Gincana.png" as="image">
      <link rel="preload" href="../../assets/carrusel/1.png" as="image">
      <link rel="preload" href="../../assets/carrusel/2.png" as="image">
      <link rel="preload" href="../../assets/carrusel/3.png" as="image">
      <link rel="preload" href="../../assets/carrusel/4.png" as="image">
      <link rel="preload" href="../../assets/carrusel/5.png" as="image">
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
<div class="container">
  <!--
  <div class="paragraph-container">

  </div>
  -->
  <div><img id ="pulpo" src="../../assets/img/pulpo.gif"></div>
  <div class="dialog-box">
		<div class="speaker">Olag:</div>
        <div class="dialog-text" id="dialog"></div>
    </div>
  <div id="img-container">

    <div id="img1">
        <img src="../../assets/img/argazki1.png" alt="Descripción de la imagen">
        <br><br>
        <button (click)="playAudio('audio1')" [disabled]="isAudioPlaying">
          <audio id="audio1" src="../../assets/audioak/audio1.mp3"></audio>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-headphones" viewBox="0 0 16 16">
              <path d="M8 3a5 5 0 0 0-5 5v1h1a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V8a6 6 0 1 1 12 0v5a1 1 0 0 1-1 1h-1a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h1V8a5 5 0 0 0-5-5"/>
          </svg>
          Lehenengo Desberdintasuna
        </button>
          <br><br>
          <button (click)="playAudio('audio2')" [disabled]="isAudioPlaying">
            <audio id="audio2" src="../../assets/audioak/audio2.mp3"></audio>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-headphones" viewBox="0 0 16 16">
            <path d="M8 3a5 5 0 0 0-5 5v1h1a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V8a6 6 0 1 1 12 0v5a1 1 0 0 1-1 1h-1a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h1V8a5 5 0 0 0-5-5"/>
          </svg>
          Bigarren  Desberdintasuna
        </button>
    </div>

    <div id="img2">
        <img src="../../assets/img/argazki2.png" alt="Descripción de la imagen">
        <br><br>
        <button (click)="playAudio('audio3')" [disabled]="isAudioPlaying">
          <audio id="audio3" src="../../assets/audioak/audio3.mp3"></audio>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-headphones" viewBox="0 0 16 16">
          <path d="M8 3a5 5 0 0 0-5 5v1h1a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V8a6 6 0 1 1 12 0v5a1 1 0 0 1-1 1h-1a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h1V8a5 5 0 0 0-5-5"/>
        </svg>
        Hirugarren Desberdintasuna
      </button>
        <br><br>
        <button (click)="playAudio('audio4')" [disabled]="isAudioPlaying">
          <audio id="audio4" src="../../assets/audioak/audio4.mp3"></audio>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-headphones" viewBox="0 0 16 16">
          <path d="M8 3a5 5 0 0 0-5 5v1h1a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V8a6 6 0 1 1 12 0v5a1 1 0 0 1-1 1h-1a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h1V8a5 5 0 0 0-5-5"/>
        </svg>
        Laugarren Desberdintasuna
      </button>
      <div id="nextbutton">
        <button (click)="hurrengoaButtonClicked()" [disabled]="!areAudiosPlayed"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/>
        </svg></button>
      </div>
    </div>

  </div>


</div>

</ion-content>
