.paragraph-container {
    margin-left: 40vh;
    margin-top: 2%;
    max-width: 80%;
    float: right;
  }

  body{
    padding:0px;
    margin: 0px;
  }

  #img1{
    margin-top: 5vh;
    margin-left: 40vh;
    max-width: 50%;
    float: left;
    margin-bottom: 5vh;
    min-width: 15%;
  }

  #img2{
    margin-top: 5vh;
    margin-left: 5vh;
    margin-right: 2vh;
    max-width: 60%;
    float: left;
    margin-bottom: 5vh;
    min-width: 15%;
  }
  
  ion-content {
    --overflow: hidden;
  }

  #audioak {    
    margin-top: 20vh; /* Ajusta el margen superior según tus necesidades */
    margin-left: 50vh; /* Ajusta la posición horizontal según tus necesidades */
    clear: both; /* Asegura que el div de audioak se coloque debajo de las imágenes */
  }

  #img-container {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5vh;
    margin-left: 20vh;
    margin-bottom: 5vh;
    float: left;
    max-width: 80%;
  }
  
  .container{
    max-height: 1080px;
  }

  #nextbutton {
    margin-top: 20px; /* Ajusta el margen superior según tus necesidades */
    margin-left: 85%;
    clear: both; /* Asegura que el div de nextbutton se coloque debajo de los elementos anteriores */
}