.container {
    max-height: 1080px;
}

#img-container {
    display: flex;
    flex-direction: column;  
    align-items: center;     
    justify-content: center; 
    margin-top: 8vh;
    margin-bottom: 5vh;
    margin-left: auto;
    margin-right: auto;

}

#ginacanaimg img {
    width: 400px;
    height: 300px;
}

#divyoutube {
    margin-top: 5px; 
    display: flex;  /* Agregado para usar flexbox y alinear elementos horizontalmente */
    justify-content: center;  /* Alinea elementos hijos horizontalmente */
    margin-right: 30vh;
}

#youtube {
    width: 100px;
}

#hurrengoaBtn {
    align-self: flex-start;  /* Alinea el botón al inicio del contenedor flex (#img-container) */
    margin-top: -50px;  /* Ajusta la posición vertical del botón hurrengoa */
    margin-left: 80%;
}
