/* CSS reset */
body, h1 {
  margin: 0;
  padding: 0;
  overflow: hidden;
  overflow-x: hidden; /* Desactiva el desplazamiento horizontal */
  overflow-y: hidden;
}

h1 {
  text-transform: uppercase;
}

body {
  color: #333;
}



.fix:after {
  display: table;
  clear: both;
  content: '';
}

/* Home */
.wrap {
  max-width: 800px; /* Reducir el ancho máximo de la envoltura */
  margin: 0 auto;
  text-align: center;
  position: relative;
  padding: 0px;
}

.ws-area,
.ws-words {
  display: inline-block;
  vertical-align: top;
}

.ws-words {
  margin-left: 10px; /* Reducir el espacio entre la sopa de letras y las palabras */
  text-align: left;
}

.ws-word {
  margin-bottom: 2px; /* Reducir el espacio entre las palabras */
}

.ws-words::first-letter {
  text-transform: capitalize;
}

/* Reducir el tamaño de la sopa de letras */
.ws-area {
  font-size: 14px;
}

/* Reducir el tamaño del texto de las palabras */
.ws-word {
  font-size: 12px;
}
