#content {
    margin-left: 20%;
  }
  
  body {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  #question {
    margin-top: 140px;
    max-width: 80%;
    margin-left: 40px;
    font-size: 1.2em; /* Aumenta el tamaño de la fuente */
    color: #333; /* Color de texto más oscuro */
  }
  
  .answer {
    cursor: pointer;
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: inline-block;
    margin-left: 40px;
    font-size: 1em; /* Tamaño de fuente para respuestas */
    color: #555; /* Color de texto más oscuro que el color de fondo */
  }
  
  .correct-answer {
    background-color: #7FFF7F;
  }
  
  .wrong-answer {
    background-color: #FF7F7F;
  }
  
  #hurrengoaBtn {
    align-self: flex-start;
    margin-top: 50px;
    margin-left: 80%;
  }
  