<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">tab51</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- Sección de preguntas y respuestas -->
  <div id="content">
    <div id="question">{{ currentQuestion?.question }}</div>
    <div id="answers">
      <div *ngFor="let answer of shuffledAnswers"
     class="answer"
     [class.correct-answer]="answer === currentQuestion.correct_answer && answer === selectedAnswer"
     [class.wrong-answer]="answer !== currentQuestion.correct_answer && answer === selectedAnswer"
     (click)="checkAnswer(answer)">
  {{ answer }}
</div>

    </div>
  </div>
  <audio id="correctSound" src="../../assets/audioak/correct.mp3" type="audio/mp3"></audio>
  <audio id="wrongSound" src="../../assets/audioak/wrong.mp3" type="audio/mp3"></audio>

</ion-content>